<br><br><br>
<br><br><br>
<br><br><br>
<div class="col-xs-10 col-xs-offset-1">
  <!-- <div ng-controller="UsersShowController as usersShowCtrl" class='row'> -->
    <div class="col-md-3 col-md-offset-3 col-xs-12 thumbnail">
      <img ng-src="{{usersShowCtrl.user.profileUrl}}" alt="user image">
    </div>

    <div class="col-md-3  col-xs-12">
      <ul class="list-group form-inline col-md-10 col-md-offset-1">
        <li class="list-group-item">
          <span ng-hide="editing"><h4 class='inline-header'>User Name: {{user.userName}}</h4></span>
          <input ng-show="editing" ng-model="user.userName" type="text" class="form-control input-md">
          <span ng-hide="editing">Email: {{user.email}}</span>
          <input ng-show="editing" ng-model="user.email" type="text" class="form-control input-md">
        </li>
        <br>
        <br>
        <div>
          <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit User Info</button>
          <button class='btn btn-success' ng-show="editing" ng-click="usersShowCtrl.editUser(user); editing = false">Save Changes</button>
        </div>
        <br>
        <div>
          <button class='btn btn-danger' ng-click="usersShowCtrl.deleteUser(user)">Delete User</button>
        </div>
        <br>
        <!-- <button class='btn btn-primary' id="recBtn">Record  Video</button> -->
        <h3><a href="/video-rec">Record Video</a></h3>
      </ul>


    </div>
  <!-- </div> -->

  <!-- Creating new video -->
  <!-- <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <form class="form-horizontal" ng-submit="usersIndexCtrl.createUser()">
        <fieldset> -->

          <!-- Form Name -->
          <!-- <legend class="text-center">Add New Video</legend> -->

          <!-- Text input-->
          <!-- <div class="form-group">
            <div class="col-xs-6 col-xs-offset-3">
            <input id="userName" ng-model="videosIndexCtrl.newVideo.title" type="text" class="form-control input-md" placeholder="Title" required>
            </div>
          </div> -->

          <!-- Text input-->
          <!-- <div class="form-group">
            <div class="col-xs-6 col-xs-offset-3">
            <input ng-model="videosIndexCtrl.newVideo.video_url" type="text" class="form-control input-md" placeholder="Link Url" required>
            </div>
          </div> -->

          <!-- Text input-->
          <!-- <div class="form-group">
            <div class="col-xs-6 col-xs-offset-3">
            <input ng-model="videosIndexCtrl.newVideo._user" type="text" class="form-control input-md" placeholder="Hidden from for user id">
            </div>
          </div> -->

          <!-- Button -->
          <!-- <div class="form-group">
            <div class="col-xs-6 col-xs-offset-3">
              <button class="btn btn-primary">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div> -->
</div>
