<br><br><br>
<br><br><br>
<div class="col-xs-10 col-xs-offset-1">
  <div class="row">
    <h1>Displaying All Users</h1>
    <div ng-repeat="user in usersIndexCtrl.users" class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class='row'>
              <div class="col-md-4 col-xs-12 col-md-offset-1 thumbnail">
                <img ng-hide="editing" ng-src="{{user.profileUrl}}" alt="profile image">
                <input ng-show="editing" ng-model="user.profileUrl" type="text" class="form-control input-md">

              </div>
            </div>
            <!-- <div class="row"> -->
              <ul class="list-group form-inline col-md-10 col-md-offset-1">
                <li class="list-group-item">
                  <span ng-hide="editing"><h4 class='inline-header'>User Name: <a ng-href="users/{{user._id}}">{{user.userName}}</a></h4></span>
                  <input ng-show="editing" ng-model="user.userName" type="text" class="form-control input-md">
                  <span ng-hide="editing">Email: {{user.email}}</span>
                  <input ng-show="editing" ng-model="user.email" type="text" class="form-control input-md">
                </li>
                <br>
                <div>
                  <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit User Info</button>
                  <button class='btn btn-success' ng-show="editing" ng-click="usersIndexCtrl.editUser(user); editing = false">Save Changes</button>
                </div>
                <br>
                <div>
                  <button class='btn btn-danger' ng-click="usersIndexCtrl.deleteUser(user)">Delete User</button>
                </div>
              </ul>
            <!-- </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Form for creating new user -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <form class="form-horizontal" ng-submit="usersIndexCtrl.createUser()">
        <fieldset>

          <!-- Form Name -->
          <legend class="text-center">Add New User</legend>

          <!-- Text input-->
          <div class="form-group">
            <div class="col-xs-6 col-xs-offset-3">
            <input id="userName" ng-model="usersIndexCtrl.newUser.userName" type="text" class="form-control input-md form-reset" placeholder="User Name" required>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <div class="col-xs-6 col-xs-offset-3">
            <input ng-model="usersIndexCtrl.newUser.email" type="text" class="form-control input-md form-reset" placeholder="Email" required>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <div class="col-xs-6 col-xs-offset-3">
            <input ng-model="usersIndexCtrl.newUser.profileUrl" type="text" class="form-control input-md form-reset" placeholder="Profile Image Url">
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <div class="col-xs-6 col-xs-offset-3">
              <button class="btn btn-primary">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
