<br><br><br>
<br><br><br>
<div class="col-xs-10 col-xs-offset-1">
  <div class="row">
    <h1>Video lists</h1>
    <br>
    <div ng-repeat="video in videosIndexCtrl.videos">
      <div class="col-xs-3 ">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <ul class="list-group form-inline col-md-8 col-xs-12 col-xs-offset-2">
              <img ng-hide="editing" ng-src="{{video.screenShot}}" alt="screen shot">
              <li class="list-group-item">
                <span ng-hide="editing"><h3 class='inline-header'><a ng-href="videos/{{video._id}}">{{video.title}}</a></h3></span>
                <a ng-href="{{video.videoLink}}"><h3>Play</h3></a>
                <input ng-show="editing" ng-model="video.title" type="text" class="form-control input-md">
                <input ng-show="editing" ng-model="video.videoLink" type="text" class="form-control input-md">
              </li>
            </ul>
            <div>
              <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit Video Info</button>
              <button class='btn btn-success' ng-show="editing" ng-click="videosIndexCtrl.editVideo(video); editing = false">Save Changes</button>
            </div>
            <br>
            <div>
              <button class='btn btn-danger' ng-click="videosIndexCtrl.deleteVideo(video)">Delete Video</button>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
