  <br><br><br>
  <br><br><br>
<div class="container">
  <div class="row ">
    <div class="col-xs-9 col-xl-offset-4">
      <video id="myVideo" class="video-js vjs-default-skin"></video>
    </div>
  </div>
</div>


  <br><br><br>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <form class="form-horizontal" name="userNew" ng-submit="videosIndexCtrl.createVideo()">
        <fieldset>
          <!-- Form Name -->
          <legend class="text-center">Add New Video</legend>

          <!-- Text input-->
          <div class="form-group">
            <div class="col-xs-6 col-xs-offset-3">
            <input id="videoTitle" ng-model="videosIndexCtrl.newVideo.title" type="text" class="form-control input-md form-reset" placeholder="Title" required>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <div class="col-xs-6 col-xs-offset-3">
            <input ng-init="videosIndexCtrl.newVideo.screenShot='http://i.imgur.com/e7djt98.png'" type="hidden" class="form-control input-md form-reset" ng-value="videosIndexCtrl.newVideo.screenShot">
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <div class="col-xs-6 col-xs-offset-3">
              <button class="btn btn-primary" >Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
      <br><br><hr>

    </div>
  </div>




<script>
var videoContent;

  var player = videojs('myVideo', {
      controls: true,
      loop: false,
      // dimensions of video.js player
      width: 640,
      height: 360,
      plugins: {
        record: {
          maxLength: 10,
          debug: true,
          audio: true,
          video: {
            // video constraints: set resolution of camera
            mandatory: {
                minWidth: 640,
                minHeight: 360,
            },
          },
          // dimensions of captured video frames
          frameWidth: 640,
          frameHeight: 360
        }
      }
    });
  // error handling
  player.on('deviceError', function()
  {
    console.log('device error:', player.deviceErrorCode);
  });
  player.on('error', function(error)
  {
    console.log('error:', error);
  });
  // user clicked the record button and started recording
  player.on('startRecord', function()
  {
    console.log('started recording!');
  });
  // user completed recording and stream is available
  player.on('finishRecord', function()
  {
    // the blob object contains the recorded data that
    // can be downloaded by the user, stored on server etc.
    console.log('finished recording: ', player.recordedData);
    console.log('finished recording and drilling down the file structure player.recordedData.video : ', player.recordedData.video);
    videoContent = player.recordedData.video;

    // upload(new Blob([videoContent], {type: videoContent.type}));
    console.log('this is videoContent : ', videoContent.name);

    player.recorder.saveAs({'video': 'your-new-log'});
  });
</script>
