  <br><br><br>
  <br><br><br>
  <br><br><br>
  <div class="row">
    <div class="col-xs-12 col-xl-pull-5">
      <video id="myVideo" class="video-js vjs-default-skin"></video>
    </div>
  </div>

  <br><br><br>
  <br><br>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <form class="form-horizontal" name="userNew" ng-submit="videosIndexCtrl.createVideo()">
        <fieldset>
          <!-- Form Name -->
          <legend class="text-center">Add New Video</legend>

          <!-- Text input-->
          <div class="form-group">
            <div class="col-xs-6 col-xs-offset-3">
            <input id="videoTitle" ng-model="videosIndexCtrl.newVideo.title" type="text" class="form-control input-md form-reset" placeholder="Title" required>
            </div>
          </div>

          <!-- Video input-->
          <div class="form-group">
            <div class="col-xs-6 col-xs-offset-3">
            <input ng-model="videosIndexCtrl.videoContent" type="hidden" name="videoContent" class="form-control input-md form-reset" value="{{videoContent}}" >
            </div>
          </div>

          <!-- Text input-->
          <!-- <div class="form-group">
            <div class="col-xs-6 col-xs-offset-3">
            <input ng-model="videosIndexCtrl._user" type="text" class="form-control input-md form-reset" placeholder="Profile Image Url">
            </div>
          </div> -->

          <!-- Button -->
          <div class="form-group">
            <div class="col-xs-6 col-xs-offset-3">
              <button class="btn btn-primary" >Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
      <br><br><hr>
      <!-- <div class="col-xs-6 col-xs-offset-3">
      <h1>File Upload Form</h1>
        <form id="uploadForm"
          enctype="multipart/form-data"
          action="https://api-content.dropbox.com/1/files_put/auto/"
          method="post">
          <input type="file" name="videoData" value="test string"/>
          <input type="submit" value="Upload Video" name="submit">
          <span id = "status"></span>
        </form>
      </div> -->
    </div>
  </div>

  <br><br><br>
  <br><br><br>
  <br><br><br>


<script>


var videoContent;

  var player = videojs('myVideo', {
      controls: true,
      loop: false,
      // dimensions of video.js player
      width: 640,
      height: 360,
      plugins: {
        record: {
          maxLength: 10,
          debug: true,
          audio: true,
          video: {
            // video constraints: set resolution of camera
            mandatory: {
                minWidth: 640,
                minHeight: 360,
            },
          },
          // dimensions of captured video frames
          frameWidth: 640,
          frameHeight: 360
        }
      }
    });
  // error handling
  player.on('deviceError', function()
  {
    console.log('device error:', player.deviceErrorCode);
  });
  player.on('error', function(error)
  {
    console.log('error:', error);
  });
  // user clicked the record button and started recording
  player.on('startRecord', function()
  {
    console.log('started recording!');
  });
  // user completed recording and stream is available
  player.on('finishRecord', function()
  {
    // the blob object contains the recorded data that
    // can be downloaded by the user, stored on server etc.
    console.log('finished recording: ', player.recordedData);
    console.log('finished recording and drilling down the file structure player.recordedData.video : ', player.recordedData.video);
    videoContent = player.recordedData.video;

    // upload(new Blob([videoContent], {type: videoContent.type}));
    console.log('this is videoContent : ', videoContent.name);

    player.recorder.saveAs({'video': 'your-new-log'});
  });


</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script>
$(document).ready(function() {

   $('#uploadForm').submit(function() {
   $("#status").empty().text("File is uploading...");
    console.log($('#uploadForm').val());
      $(this).ajaxSubmit({

          error: function(xhr) {
              status('Error: ' + xhr.status);
          },

          success: function(response) {
        console.log(response)
        $("#status").empty().text(response);
          }
      });

      return false;
        });
  }); //end ready
</script>
